.project-detail-container {
    max-width: 850px;
    margin: 0 auto;
    padding: 10px 10px;
}

.project-detail {
    background: #1C1C1C;
    border-radius: 15px;
    padding: 40px;
}

.detail-header {
    padding-bottom: 25px;
    margin-bottom: 20px;
}

.detail-header h1 {
    font-size: 35px;
    color: #fff;
    font-family: 'Playfair Display', serif;
}

.meta-info {
    font-size: 15px;
}

.meta-info span {
    margin: 0 8px;
}


.info-box {
    background: #262626;
    padding: 15px 20px;
    border-radius: 8px;
    margin: 20px 0;
}



.actions {
    display: flex;
    gap: 350px;
    margin: 40px 0;
    padding: 25px;
    background: #262626;
    border-radius: 10px;
}

.candle-btn {
    background: #1F1F1F;
    color: #fff;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}



.candle-count {
    color: #fff;
    font-size: 15px;
}

.candle-count strong {
    color: #fff;
    font-size: 20px;
}


.comment-form textarea {
    color: #fff;
    width: 100%;
    padding: 10px;
    background: #262626;
    border-radius: 5px;
    min-height: 50px;
    font-size: 15px;
    font-family: 'Playfair Display', serif;
}


.comment-form button {
    background: #6E6E6E;
    color: #fff;
    padding: 10px 25px;
    border-radius: 15px;
    cursor: pointer;
}



.comments-list {
    margin-top: 30px;
}

.comment-item {
    background: #151414;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.comment-author {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.comment-date {
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.comment-text {
    color: #fff;
    line-height: 2;
}

.no-comments {
    text-align: center;
    padding: 30px;
    color: #fff;
}


.back-link a {
    color: #fff;
}

