<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="static/css/main.css">
    <link rel="icon" href="static/icon/favicon.ico">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>О проекте - Project Cemetary</title>

</head>
<body>
<!--  ЛОГО И ВЕРХНИЕ КНОПКИ  -->
    <header class="container">
        <span class="logo"> Project Cemetery</span>
        <nav>
            <ul>
                <li><a href="/">|Приветствие|</a> </li>
                <li class="active"><a href="/about">|О проекте|</a> </li>
                <li><a href="/feed">|Лента|</a> </li>
                <li><a href="/candles">|Свечи|</a> </li>
                <li><a href="/{{ session.username }}">|Аккаунт|</a> </li>
                <li><a href="/publications">|Публикации|</a> </li>
                <li class="btn"><a href="/contacts">Contacts</a></li>
                <li class="btn"><a href="/logout" >Выход</a></li>
            </ul>
        </nav>
    </header>


    <div class="container hero-contacts">
        <h1> R.I.P. — Rest In Peace, или Reboot In Progress?</h1>

        <p style=" color:gray; font-weight: 400; margin-bottom: 15px; font-size: 25px;">Каждый проект заслуживает достойного прощания. Здесь нет места стыду. Только память и шанс на вторую жизнь.</p>

        <h2 style=" margin-bottom: 15px; font-size: 25px;"> Концепция : </h2>
        <h2 style="font-weight: 400; margin-bottom: 15px; font-size: 20px;"> У каждого разработчика была идея, которая должна была стать гениальным прорывом, но увы, зачастую такие идеи либо не доходят до реализации, либо прекращают свое существование на стадиии разработки. Project Cemetery - цифровое мемориальное пространство для проваленных проектов.  </h2>

        <h2 style=" margin-bottom: 15px; font-size: 25px;"> Миссия : </h2>
        <h2 style="font-weight: 400; margin-bottom: 15px; font-size: 20px;"> Каждый проект заслуживает достойного прощания, либо второго шанса, ведь здесь любой может воскресить ваш проект. Возможно именно ваша идея вдохновит кого-то и станет реальным проектом и вы наконец-то увидете свое детище в работе. </h2>

        <h2 style=" margin-bottom: 15px; font-size: 25px;"> Как это работает и что вообще происходит??? </h2>
        <h2 style="font-weight: 400; margin-left:50px; margin-bottom: 15px; font-size: 20px;"> • Установите надгробие: укажите название, описание, стек технологий и причину провала.  </h2>
        <h2 style="font-weight: 400; margin-left:50px; margin-bottom: 15px; font-size: 20px;"> • Оставьте эпитафию: одна короткая фраза на память о том, что могло бы изменить мир.  </h2>
        <h2 style="font-weight: 400; margin-left:50px; margin-bottom: 15px; font-size: 20px;"> • Зажгите свечу: нажмите F, чтобы отдать дань уважения чужому опыту.  </h2>
        <h2 style="font-weight: 400; margin-left:50px; margin-bottom: 15px; font-size: 20px;"> • Оставьте слова поддержки: ваши комментарии могут стать искрой для чьего-то воскрешения.  </h2>

        <h2 style="color:gray; font-weight: 400; margin-top: 50px; font-size: 20px;"> Разработчик: Караваев Даниил. Контакты для обратной связи в разделе Contacts, принимаются любые вопросы, советы и предложения) </h2>


    </div>


</body>
</html>